a img{ border: 0; }

a:link,
a:visited{ color: #79B401; }

body{ font: 11px/1.25em Sans-Serif; }

body,
h1,
h2,
h3,
ul{ margin: 0; }

p{ margin: 15px 0; }

ul{ padding: 0; }

#column_1{
	margin: 25px 0 60px 0;
	width:  195px;
	}

	#column_1 h2.navigation{
		background: #02718B url("../images/global/navigation/h2_background.gif") no-repeat;
		color:      #FFF;
		font:       bold 12px Sans-Serif;
		padding:    7px 10px 7px 10px;
		}

	#column_1 ul.navigation{
		background:      #014758 url("../images/global/navigation/ul_background.gif") no-repeat 0 100%;
		list-style-type: none;
		padding:         0 20px 15px 20px;
		}

		#column_1 ul.navigation a{
			background:      url("../images/global/navigation/separator.gif") repeat-x 0 100%;
			display:         block;
			font-weight:     bold;
			padding:         7px 10px 9px 10px;
			text-decoration: none;
			}

		#column_1 ul.navigation a:active,
		#column_1 ul.navigation a:hover{
			background-color: #003744;
			color:            #FFF;
			}

#column_1,
#column_2{ float: left; }

#column_2{
	margin: 25px 15px 60px 35px;
	width:  485px;
	}

	#column_2 form{
		background: #E5F5FA;
		padding:    10px 0;
		}

		#column_2 form p{
			margin:  0;
			padding: 5px 10px;
			}

		#column_2 form .column_1,
		#column_2 form .column_2{
			width: 222px;
			}

	#column_2 h1{
		color:  #00A0C6;
		font:   bold 16px Sans-Serif;
		margin: 5px 0 20px 0;
		}

	#column_2 h2{
		color:  #02718B;
		font:   bold 13px Sans-Serif;
		margin: 20px 0;
		}

	#column_2 h3{
		font:   bold 11px Sans-Serif;
		margin: 15px 0;
		}

	#column_2 input.checkbox{ vertical-align: middle; }

	#column_2 input.text{ width: 95%; }

	#column_2 label{
		display:       block;
		margin-bottom: 5px;
		}

		#column_2 label strong{ color: #00A0C6; }

	#column_2 li{
		background:   url("../images/global/li_background.gif") no-repeat 10px 50%;
		margin:       5px 0;
		padding-left: 20px;
		}

	#column_2 select{ width: 100%; }

	#column_2 ul{
		list-style-type: none;
		margin:          15px 0;
		}

	#column_2 .subul {
		list-style-type: circle;
		margin: 0;
		padding: 0;
		}
	#column_2 .subul li {
		list-style-type: circle;
		background: none;
		margin: 0;
		padding: 0;
		margin-left: 40px;
		}

#content,
#footer{
	margin: 0 auto;
	width:  730px;
	}

#footer{
	padding-top: 10px;
	text-align:  right;
	}

	#footer a{ color: #9FF; }

	#footer em{
		color:      #9FF;
		font-style: normal;
		}

	#footer li{
		border-right:  1px solid #9FF;
		margin-right:  10px;
		padding-right: 10px;
		display:       inline;
		}

	#footer span{
		color:        #FFF;
		font-weight:  bold;
		margin-right: 25px;
		}

	#footer ul{ display: inline; }

#footer_wrapper{
	background: #02718B;
	height:     93px;
	}

#header{
	margin: 0 auto;
	width:  730px;
	}

	#header img{
		margin:         11px 0 10px 0;
		vertical-align: bottom;
		}

	#header li{ position: absolute; }

		#header li a{
			display: block;
			float:   left;
			height:  31px;
			}

		#header li a:hover,
		#header li:hover a{ background-position: 0 -31px !important; }

		#header li.conference_info{ left: 234px; }

			#header li.conference_info a{
				background: url("../images/global/header/conference_info.gif");
				width:      149px;
				}

		#header li.home{ left: 0; }

			#header li.home a{
				background: url("../images/global/header/home.gif");
				width:      81px;
				}	

		#header li.media{ left: 383px; }

			#header li.media a{
				background: url("../images/global/header/media.gif");
				width:      82px;
				}

		#header li.open_source_health_care_summit{ left: 465px; }

			#header li.open_source_health_care_summit a{
				background: url("../images/global/header/open_source_health_care_summit.gif");
				width:      265px;
				}

		#header li.purchase_tickets{ left: 81px; }

			#header li.purchase_tickets a{
				background: url("../images/global/header/purchase_tickets.gif");
				width:      153px;
				}

	#header li:hover .drop_down{ display: block; }

	#header ul{
		list-style-type: none;
		position:        relative;
		}

	#header strong{ display: none; }

#header_wrapper{
	background: url("../images/global/header_wrapper_background.gif");
	height:     104px;
	}

.clear{
	clear:       both;
	font-size:   0;
	line-height: 0;
	}

.drop_down{
	background:  #FFF;
	border:      1px solid #1EA5D2;
	display:     none;
	left:        50%;
	margin-left: -62.5px;
	position:    absolute !important;
	top:         31px;
	width:       125px;
	}

	.drop_down a{
		background:      none !important;
		float:           none !important;
		font-weight:     bold;
		height:          auto !important;
		margin:          3px;
		padding:         5px;
		text-decoration: none;
		width:           auto !important;
		}

	.drop_down a:hover{
		background: #79B401 !important;
		color:      #FFF;
		}

	.drop_down li{
		display:  inline;
		position: static !important;
		}

.column_1{ float: left; }

.column_2{ float: right; }
